apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitops-hello-sre
  namespace: default
spec:
  replicas: 4
  selector:
    matchLabels:
      app: gitops-hello-sre
  template:
    metadata:
      labels:
        app: gitops-hello-sre
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: gitops-hello-sre-service
  namespace: default
spec:
  type: NodePort
  selector:
    app: gitops-hello-sre
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080